/* common style apply  */
body{
    font-family: 'Open Sans', sans-serif;
}


/* nav related style  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title{
color:  #181818;
font-size: 45px;
font-weight: 800;

}

.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    
    background-color: #FD6E0A;border-radius: 5px;
    border: 0;
    color: #FFF;
    font-weight: 700;
    padding: 15px 35px;
}

nav > ul {
    display: flex;
    align-items: center;
   
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;

}

/* header related style  */


.heater-area{
    background-color: #FFF;

}
.banner-heder{
padding: 30px 30px 30px 150px;
display: flex;
align-items: center;
}

.banner-heder .profile-pic{
    width: 584px;
    height: 676px;
}